/* app css stylesheet */
ul.menu{
    li{
        float:right;
        margin-top:10px;
        margin-left:10px;
    }
}

.list-container{
    background:#EEE;
    margin-top:10px;
    padding:20px;
    width:100%;
    box-sizing: border-box;
    float:left;
    border-radius: 5px;
    .list-item{
        padding:10px;
        background: #CCC;
        //border-right: 5px solid #CCC;
        //border-bottom: 5px solid #CCC;
        float:left;
        margin:0 10px 10px 0;
        min-width:100px;
        border-radius: 5px;
        box-sizing: border-box;
        height: 40px;
        .primary-state{
            position:relative;
            padding:0px 30px 0px 0px;
            button{
                position: absolute;
                top:0px;
                right: 0px;
            }
        }
        .edit-state{
            input{
                border: none;
                background: transparent;
            }
        }
    }
}
