/* colors */
.color-default, .grey {
  background: #CCC; }

.color-1 {
  color: #FFF;
  background: #42b5e9; }

.color-2 {
  color: #FFF;
  background: #7cc678; }

.color-3 {
  color: #FFF;
  background: #e66f70; }

.color-4 {
  color: #FFF;
  background: #d0ad59; }

.color-5 {
  color: #FFF;
  background: #b67fd6; }

.no-glow {
  outline: none;
  border: none !important;
  box-shadow: none !important; }

/* app css stylesheet */
ul.menu li {
  float: right;
  margin-top: 10px;
  margin-left: 10px; }

.list-container {
  background: #EEE;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
  width: 100%;
  box-sizing: border-box;
  float: left;
  border-radius: 5px; }
  .list-container .list-item {
    float: left;
    margin: 0 10px 10px 0;
    min-width: 100px;
    border-radius: 5px;
    height: 40px; }
    .list-container .list-item.editing {
      border-radius: 5px 5px 0 0; }
      .list-container .list-item.editing .primary-state .input {
        background: rgba(255, 255, 255, 0.3); }
    .list-container .list-item .primary-state {
      position: relative;
      padding: 10px 30px 10px 10px;
      box-sizing: border-box;
      height: 40px; }
      .list-container .list-item .primary-state button {
        position: absolute;
        top: 8px;
        right: 8px; }
      .list-container .list-item .primary-state .input {
        background: transparent; }
    .list-container .list-item .edit-state {
      padding: 10px 10px 10px 10px;
      box-sizing: border-box;
      height: 40px; }
      .list-container .list-item .edit-state input {
        border: none;
        background: transparent; }
    .list-container .list-item ul.color-menu {
      width: 100%;
      margin: 0;
      border-radius: 0 0 5px 5px;
      overflow: hidden; }
      .list-container .list-item ul.color-menu li {
        height: 40px;
        width: 100%; }
