<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="list_container" class="list-container" sortable>
                <!--
                each item needs the ability to:
                * edit
                * change color
                * strike through
                * delete
                --> 
                <div class="list-item color-default {{item.color}}" 
                    ng-repeat="item in listItems"
                    ng-class="{'editing':isEditing}"
                    ng-controller="ListItem">
                    <div class="primary-state" 
                        ng-click="isEditing = true; editingClass = 'editing'"
                        edit-mode>
                        <div class="input" 
                            contenteditable 
                            name="name"
                            ng-model="name" 
                            strip-br="true">{{item.name}}</div>
                        <!--
                        <input class="no-glow" ng-model="item.name" />
                        --> 
                        <!--
                        <p>{{item.name}}</p>
                        -->
                        <button type="button" class="close"
                            ng-show="isEditing"
                            ng-click="$emit('removeItem', item)">&times;</button>
                    </div>
                    <div class="menu-state"
                        ng-show="isEditing">
                        <ul class="color-menu list-unstyled">
                            <li class="color-default" ng-click="item.color = 'color-default'; saveItem()"></li>
                            <li class="color-1" ng-click="item.color = 'color-1'; saveItem()"></li>
                            <li class="color-2" ng-click="item.color = 'color-2'; saveItem()"></li>
                            <li class="color-3" ng-click="item.color = 'color-3'; saveItem()"></li>
                            <li class="color-4" ng-click="item.color = 'color-4'; saveItem()"></li>
                            <li class="color-5" ng-click="item.color = 'color-5'; saveItem()"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
