<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="list_container" class="list-container" sortable>
                <!--
                each item needs the ability to:
                * edit
                * change color
                * strike through
                * delete
                --> 
                <div class="list-item default-color {{item.color}}" 
                    ng-repeat="item in listItems"
                    ng-class="{'editing':isEditing}"
                    ng-controller="ListItem">
                    <div class="primary-state" 
                        ng-click="isEditing = true; editingClass = 'editing'"
                        ng-show="!isEditing">
                        <p>{{item.name}}</p>
                        <button type="button" class="close"
                            ng-click="$emit('removeItem', item)">&times;</button>
                    </div>
                    <div class="edit-state"
                        ng-show="isEditing"
                        edit-mode>
                        <input ng-model="item.name" />
                        <!--
                        <button class="btn btn-xs" ng-click="saveItem()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        -->
                    </div>
                    <div class="menu-state"
                        ng-show="isEditing">
                        <ul class="color-menu list-unstyled">
                            <li class="white" ng-click="item.color = 'white'; saveItem()"></li>
                            <li class="grey" ng-click="item.color = 'grey'; saveItem()"></li>
                            <li class="blue" ng-click="item.color = 'blue'; saveItem()"></li>
                            <li class="red" ng-click="item.color = 'red'; saveItem()"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
