<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="list_container" class="list-container" sortable>
                <!--
                each item needs the ability to:
                * edit
                * change color
                * strike through
                * delete
                --> 
                <div class="list-item" 
                    ng-repeat="item in listItems"
                    ng-controller="ListItem">
                    <div class="primary-state" 
                        ng-show="!isEditing">
                        <p ng-click="isEditing = true">{{item.name}}</p>
                        <button type="button" class="close"
                            ng-click="$emit('removeItem', item)">&times;</button>
                    </div>
                    <div class="edit-state"
                        ng-show="isEditing">
                        <input ng-model="item.name" />
                        <button class="btn btn-xs" ng-click="isEditing = false">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="menu-state"></div>
                </div>
            </div>
        </div>
    </div>
</div>
